<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="ScheduleDB" value=".\SQLEXPRESS2012;Database=DUYTAN;uid=sa;pwd=sa@123"/>
    <add key="MIS" value=".\SQLEXPRESS2012;Database=DUYTAN;uid=sa;pwd=sa@123"/>
    <!--Timer-->
    <add key="IntervalTimerScheduler" value="10"/>
    <add key="IntervalTimerChecking" value="150"/>
    <!--System-->
    <!--<add key="IsRunAsService" value="False"/> -->
    <add key="IsRunAsService" value="True"/>
    <add key="ProjectName" value="Schedule"/>
    <add key="AppFolder" value="D:\ServiceLog\Schedule\"/>
    <add key="AppName" value="ScheduleSvc"/>
    <add key="MonitorUsers" value=""/>
    <add key="SMTPHost" value=""/>
    <add key="SMTPPort" value=""/>

    <!--Listener-->
    <add key="HTTPUrl" value="http://*:26280/"/>    
    <add key="Log4NetConfigurationPath" value="log4net.config"/>   
    
    <!--Config-->
    <add key="UserName" value="ndt_service02_V3.1"/>
    <add key="Password" value="ndthcm062017"/>
    <add key="Serial" value="NDTVHDD2678686"/>
    <add key="Version" value="V3.1"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceDuyTanSoap" />
        <binding name="ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WebServiceDuyTan/WebServiceDuyTan.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceDuyTanSoap"
        contract="ServiceReferenceDT.WebServiceDuyTanSoap" name="WebServiceDuyTanSoap" />
      <endpoint address="http://service-multi.quanlyoto.vn:8068/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="JourneyCarWS.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
